<div class="card text-center">
  <div class="card-header">
    My Profile 
  </div>
  <div class="card-body">
    <img src="../../../assets/profile.png" alt="avatar" style="width:200px">
    <h3 class="card-title">{{name}}</h3>
    <p class="card-text">{{email}}</p>
    <div> Change your name: <input [(ngModel)]="name" placeholder="Change your name"/></div><br/>
    <div> Change your email: <input [(ngModel)]="email" placeholder="Change your email"/></div><br/>
    <a style='width:200px; margin-bottom: 10px' class="btn btn-primary" (click)="Edit()" >Edit My Profile</a><br/>
    <a style='width:200px' class="btn btn-danger" (click)="Delete()" >Delete My Profile</a>
  </div>
</div>